/* (A) MATERIAL ICONS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'poppins', sans-serif;
}

.bg-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.bg-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: blur(15px);
  transform: scale(1.1);
}
.material-icons {
  font-size: 28px;
  color: #efff6a;
}

/* (B) WRAPPER */
.aWrap {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px auto;
  position: relative;
  width: 400px;
  height: 550px;
  border-radius: 18px;
  background: #566573;
  overflow: hidden;
/*   transform: translate(100%); */
}

/* (C) PLAY/PAUSE BUTTON */
.main_btns button{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 18px;
  background: rgba(0, 0, 0, 0.08);
  box-shadow: 0.1px 8px 8px 2px rgb(0 0 0 / 20%);
}

.main_btns .previous{
  position: absolute;
  top: 485px;
  left: 70px;
  margin: 0;
}

.main_btns .next{
  position: absolute;
  top: 485px;
  left: 270px;
  margin: 0;
}

#aPlay {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 485px;
  left: 170px;
  background: linear-gradient(to right, #FF5722, #FF7043);
  box-shadow: 0.1px 8px 8px 2px rgb(0 0 0 / 20%) inset, 0.1px 8px 8px 2px rgb(0 0 0 / 20%);
}

.pausee{
  display: none;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
  position: absolute;
  top: 470px;
  left: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 150px;
  padding: 0;
  margin: 0;
  background: 0;
}
#aWrap #aSeek{
  width: 380px;
  margin: 0 10px;
}
#aWrap input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
  background: #626262;
}
#aWrap input[type=range]::-moz-range-track {
  background: #626262;
}

/* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
  width: 16px; height: 16px;
  border-radius: 50%;
  border: 0;
  background: #fff;
}
#aWrap input[type=range]::-moz-range-thumb {
  width: 16px; height: 16px;
  border-radius: 50%;
  border: 0;
  background: #fff;
}

/* (G) PLAYLIST */
#aList {
  display: none;
}

.active #aList{
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 90%;
  padding: 10px;
  margin: 10px;
  color: #7e7e7e;
  background: #323232;
}

.playlist {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #566573;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 560px;
  left: 0;
  padding: 10px;
  margin: 10px;
  color: #7e7e7e;
}

.active {
  max-height: 100vh;
  padding: 100px 0 0 0;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 0;
}

.aRow {
  cursor: pointer;
  padding: 10px 0;
}
.now {
  color: #fea;
}

/* Volume Bar */
#aWrap #aVolume{
  position: absolute;
  top: 25px;
  left: 80px;
}

#title{
  position: absolute;
  top: 350px;
  left: 145px;
}

#artist{
  position: absolute;
  top: 400px;
  left: 140px;
}

.img{
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
}

#cover{
  width: 100%;
  height: 260px;
  position: absolute;
  top: -40px;
  left: 0;
}

.open{
  position: absolute;
  top: 15px;
  left: 330px;
  background: #566573;
  border: none;
  border-radius: 50%;
  box-shadow: 0.1px 8px 8px 2px rgb(0 0 0 / 20%);
  outline: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  z-index: 1;
}

#img1{
  position: relative;
  top: 3px;
}

/* PROGRESS AND TIMER */
.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  height: 4px;
  width: 90%;
  position: relative;
  top: 460px;
  left: 18px;
}

.progress {
  background: #ff0303;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width .1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  height: 15px;
}

/* VOLUME */

.knob-container::before {
  background: linear-gradient(0deg, #525252 0%, #373737 1005);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0px -20px 20px #757575, 0px 20px 35px #111111, inset 0px 5px 6px #979797, inset 0px -5px 6px #242424;
}

.knob-container::before,
.knob {
  width: 3em;
  height: 3em;
  position: relative;
}

.knob::before,
.knob::after,
.knob-container::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  background: #fff;
  box-shadow: 0px 0px 10px #349beb;
}

.knob::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px #349beb, inset 0px 0px 10px #349beb;
}

.prog-container {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 30%;
  height: 3px;
  display: flex;
  align-items: center;
}

.progress1 {
  width: 100%;
  height: 3px;
  box-shadow: inset -2px -2px #888, inset 2px 2px #111;
  background: #333;
  position: relative;
  left: -25px;
}

.progress1>div {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  box-shadow: 0 0px 10px #349beb;
}

.percent {
  position: absolute;
  top: -8.5px;
  left: 100px;
  text-shadow: 0 0px 10px #349beb;
}

/* Start Media */
@media (max-width: 500px) {
  .aWrap{
    transform: translate(0);
  }
}
/* End Media */


  
